<h3>Profile Setting</h3>
<%= link_to 'update your password', settings_password_path %>
<%= form_for @current_user.profile, :url => settings_profile_path, :method => "put" do |f|%>
    <%= @current_user.name %>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    </div>
    
    <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
    </div>
    
    <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
    </div>

    <div class="actions">
    <%= f.submit 'Save it' %>
    </div>
<% end %>
